# generated
*.3o
*.a
*.annot
*.byt
*.cma
*.cmi
*.cmo
*.cmt
*.cmti
*.cmx
*.cmxa
*.cmxs
*.css
*.exe
*.html
*.o
*.opt
*.install
_build
_opam
# tests output
*.out
*.err
*.got

# emacs
*~

# vim
[._]*.sw[a-p]
